

<div class="container text-center">
  <div class="row text-center">
      <%= simple_form_for(@cocktail) do |f| %>
        <div class="col-xs-12">
          <div class="card2 text-center">
            <%= f.error_notification %>
            <%= f.input :name %>
            <%= f.input :photo %>
            <%= f.input :photo_cache, as: :hidden %>
            <%= f.button :submit, :class => "btn btn-primary"%>
            <%= link_to cocktails_path do %>
              <button type="button" class="btn btn-primary">retour</button>
            <% end %>
          </div>
        </div>
      <% end %>
  </div>
</div>


