

<div class="wrapper">
<div class="container text-center">
  <div class="row text-center">
    <div class="card2">
      <h1>Ajouter vos ingrédients</h1>
        <%= simple_form_for [@cocktail, @dose], html: {class: 'col-xs-12 col-sm-6 col-sm-offset-3'} do |f| %>
        <%= f.error_notification %>
        <%= f.input :description, placeholder: "indiquez la quantité et sélectionnez l'ingrédient dans la liste" %>
        <%= f.association :ingredient %>
        <%= f.button :submit, html: {class: 'btn btn-info'} %>
        <%= link_to cocktail_path(@cocktail) do %>
          <button type="button" class="btn btn-primary">retour</button>
          <% end %>
      <% end %>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
</div>


